body{
    background-color: #D38B5D;
  font-family: "Oswald";
  font-optical-sizing: auto;

}




li {
    color: white;
    font-size: 3rem;
}

h1 {
    color: #84A98C;
    font-size: 7rem;
    text-align: center;
    margin-bottom: -30;
    font-display: block;
    ;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

p {
    font-size: 1.8rem;
    text-align: center;
}

.card{
    background-color: #502419;
    border: #d3b081;
    border-radius: 40px;
    margin: 10px auto;
    max-width: fit-content;
}